pkgbase = anymex-bin
  pkgdesc = An Open Source app for Tracking Multi Service (AL, MAL, SIMKL)
  pkgver = 2.0.0
  pkgrel = 1
  url = https://github.com/RyanYuuki/AnymeX
  arch = x86_64
  license = MIT
  depends = libepoxy
  depends = gdk-pixbuf2
  depends = pango
  depends = webkit2gtk-4.1
  depends = harfbuzz
  depends = libsoup3
  depends = glibc
  depends = fontconfig
  depends = cairo
  depends = hicolor-icon-theme
  depends = glib2
  depends = gcc-libs
  depends = mpv
  depends = zlib-ng-compat
  depends = gtk3
  depends = at-spi2-core
  provides = anymex=2.0.0
  conflicts = anymex
  noextract = AnymeX-2.0.0.AppImage
  source = AnymeX-2.0.0.AppImage::https://github.com/RyanYuuki/AnymeX/releases/download/v2.0.0/AnymeX-Linux.AppImage
  source = LICENSE-2.0.0.md::https://raw.githubusercontent.com/RyanYuuki/AnymeX/refs/tags/v2.0.0/LICENSE.md
  sha256sums = cf7e57e1d653a553855a88208f1a1412b69f873b27b3f41a1b86b257ac4fc538
  sha256sums = SKIP

pkgname = anymex-bin
